In [2]:
import pandas as pd

In [3]:
stocks = pd.read_parquet("data/out/stg_stock_prices_AAPL_2025-07-20_2025-08-18.parquet")
print(stocks.head())
print(stocks.info())

  ticker    open    high       low   close      volume      vwap   source  \
0   AAPL  212.10  215.78  211.6300  212.48  51377434.0  213.3495  polygon
1   AAPL  213.14  214.95  212.2301  214.40  46404072.0  213.6492  polygon
2   AAPL  215.00  215.15  212.4100  214.15  46989301.0  213.7982  polygon
3   AAPL  213.90  215.69  213.5300  213.76  46022620.0  214.3924  polygon
4   AAPL  214.70  215.24  213.4000  213.88  40268781.0  214.1284  polygon

    date_id
0  20250721
1  20250722
2  20250723
3  20250724
4  20250725
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ticker   20 non-null     object
 1   open     20 non-null     float64
 2   high     20 non-null     float64
 3   low      20 non-null     float64
 4   close    20 non-null     float64
 5   volume   20 non-null     float64
 6   vwap     20 non-null     float64
 7   source   20 non-null     object
 8   date_id  20 non-null     int64
dtypes: float64(6), int64(1), object(2)
memory usage: 1.5+ KB
None

In [4]:
fx = pd.read_parquet("data/out/stg_fx_rates_2025-07-20_2025-08-18_EUR.parquet")
print(fx.head())
print(fx.info())

    date_id base_currency quote_currency    rate
0  20250718           EUR            AUD  1.7852
1  20250718           EUR            BGN  1.9558
2  20250718           EUR            BRL  6.4699
3  20250718           EUR            CAD  1.5984
4  20250718           EUR            CHF  0.9324
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_id         630 non-null    int64
 1   base_currency   630 non-null    object
 2   quote_currency  630 non-null    object
 3   rate            630 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 19.8+ KB
None